<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/squreicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roundicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resiexpresschamp"
        tools:targetApi="31">
        <activity
            android:name=".addpayment_s3"
            android:exported="false" />
        <activity
            android:name=".profile_s3"
            android:exported="false" />
        <activity
            android:name=".home_s3"
            android:exported="false" />
        <activity
            android:name=".tacapp"
            android:exported="false" />
        <activity
            android:name=".home_s2"
            android:exported="false" />
        <activity
            android:name=".setnewpass_s2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".otpverification_s2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".forgotpass_s2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".holder_s1"
            android:exported="false" />
        <activity
            android:name=".login_s2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".signup_s2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".onboarding3_s1"
            android:exported="false" />
        <activity
            android:name=".onboarding4_s1"
            android:exported="false" />
        <activity
            android:name=".onboarding1_s1"
            android:exported="false" />
        <activity
            android:name=".MainActivity_s1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>